@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {

    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/fondo2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.formulario-datos {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
}
.formulario-datos >*{
    margin-top: 5%;
}

.contenedor-principal {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.cuerpo {
    
   /*  align-items: center; */
    /* grid-template-columns: 45% 55%; */
    width: 30%;
    height: 50%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px #000;
    text-align: center;
}

.DNI,
.contraseña {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
    height: 15%;
    /* margin-top: -20px; */
}

.input-DNI,
.input-contraseña {
    background-color: white;
    position: absolute;
    width: 80%;
    height: 100%;
    font-size: 15px;
    line-break: 50px;   
    border-radius: 10px;
    padding-left: 50px;
    border: 1px solid #6c757d;
}

#boton-ingresar {
    margin: 20px;
    width: 80%;
    height: 10%;
    border-radius: 5px;
                
    background-color: #00d8d6;

    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: black;
}

#boton-ingresar:hover {
    cursor: pointer;
    background-color: #c7f6d4;
}

.icono {
    position: absolute;
    font-size: 18px;
    left: 12%;
}   

.recuperar_contraseña>a {
    color: #00d8d6;
    text-decoration: none;

}
.cuerpo_cuenta {    
    align-items: center;
    grid-template-columns: 45% 55%;
    width: 30%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px #000;
}